@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Parkinsans:wght@300..800&display=swap');

@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@utility container {
    margin-inline: auto;
    padding-inline: 2rem;
}

@theme {
    --font-sans: 'Inter', 'sans-serif';
}

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-['Parkinsans'] font-bold text-zinc-100;
    }
}
